<div class="container">
  <% if @branch.nil? %>
    <h2>Please select a Branch under the Libraries tab above to see available books!</h2>
  <% else %>
    <%= form_with(url: "/books/search", local: true, method: "get") do %>
      <%= label_tag(:q, "Genre Search:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    All books at <%= @branch.name %>:
    <% @books.each do |book| %>
      <ul class="list-group">
        <li class="list-group-item"> <%= link_to(book.title, book_path(book)) %> </li>
      </ul>
    <% end %>
  <% end %>
</div>
