<div class="container">
  <h2>Your current loans</h2>
  <% if !@current_loans.empty? %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loan ID</th>
            <th scope="col">Title</th>
            <th scope="col">Checked out on</th>
            <th scope="col">Branch</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <% @current_loans.each_with_index do |loan, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td> <%= loan.id %></td>
              <td> <%= link_to(loan.book.title, book_path(loan.book)) %></td>
              <td> <%= loan.created_at %> </td>
              <td> <%= loan.branch.name %> </td>
              <td> <%= loan.due_date %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% else %>
    <p>You haven't borrowed any books yet!</p>
  <% end %>

  <% if !@previous_loans.empty? %>
    <h2>Your previous loans</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Loan ID</th>
            <th scope="col">Title</th>
            <th scope="col">Checked out on</th>
            <th scope="col">Branch</th>
            <th scope="col">Due Date</th>
          </tr>
        </thead>
        <tbody>
          <% @previous_loans.each_with_index do |loan, idx| %>
            <tr>
              <th scope="row"><%= idx + 1 %></th>
              <td> <%= loan.id %></td>
              <td> <%= link_to(loan.book.title, book_path(loan.book)) %></td>
              <td> <%= loan.created_at %> </td>
              <td> <%= loan.branch.name %> </td>
              <td> <%= loan.due_date %> </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
